
CREATE TABLE IF NOT EXISTS public.services_pricing (
  id varchar PRIMARY KEY,
  label varchar NOT NULL,
  description text,
  icon varchar,
  price numeric(10,2) NOT NULL DEFAULT 0.00,
  is_active boolean DEFAULT true,
  created_at timestamp DEFAULT now()
);


ALTER TABLE public.services_pricing ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Enable read access for all users" ON public.services_pricing FOR SELECT USING (true);
CREATE POLICY "Enable all actions for owners" ON public.services_pricing FOR ALL USING (auth.uid() IN (SELECT id FROM users WHERE role = 'owner'));

ALTER TABLE public.appointments ADD COLUMN IF NOT EXISTS estimated_price numeric(10,2);

